<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368226906209-cue36joktrr7fci0luedeacccj02cs7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368226906209-cue36joktrr7fci0luedeacccj02cs7l</string>
	<key>API_KEY</key>
	<string>AIzaSyDmQz6FSzK5mk-oY2W97Ob7XKuAWdKYBXg</string>
	<key>GCM_SENDER_ID</key>
	<string>368226906209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuthentication</string>
	<key>PROJECT_ID</key>
	<string>zinker-4397f</string>
	<key>STORAGE_BUCKET</key>
	<string>zinker-4397f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368226906209:ios:9fe840c0c043dcc3793a20</string>
</dict>
</plist>